.btn {
  padding: 1.2rem 7rem;
  border-radius: 4.1rem;
  color: $color-white;
  background-color: $color-primary;
  font-size: 2.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: darken($color-primary, 10%);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
