.cell {
  width: 5rem;
  height: 5rem;
  margin: 0.2rem;
  border: 1px solid #313131;
  border-radius: 0.8rem;
  font-size: 2rem;
  text-align: center;
  background-color: $color-secondary-light;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    outline: 0.3rem solid $color-primary;
    outline-offset: -0.5rem;
  }

  &__mute {
    opacity: 0.4;
  }

  &__error {
    color: $color-error;
    background-color: rgba($color-error, 0.05);
    border-color: $color-error;
  }

  &__mute:hover {
    outline: none;
  }

  &__horizontal-verge {
    margin-right: 1.2rem;
  }
}
