// COLORS
$color-primary: #181ead;

$color-secondary-light: #e5e5e5;
$color-secondary-dark: #313131;

$color-tertiary: yellow;

$color-white: #fff;
$color-black: #000;
$color-error: #ff3838;

// FONT
$default-font-size: 1.6rem;
