body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  color: $color-black;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
