.u-text-center {
  text-align: center !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem !important;
}
